<!DOCTYPE html>
<html>
  <head>
    <title>Call Information</title>
  </head>
  <body>
    <h1>Call Information</h1>

    <p>Number of Calls: <%= count %></p>
    <p>Last Call: <%= last_call || 'No calls yet' %></p>
    <p>Timestamp: <%= timestamp %></p>
  </body>
</html>
